/*------------------------------------*\
    $utils
\*------------------------------------*/

// font-size
@each $key,$value in $font-size{
  .fs-#{$key}{
    font-size: $value;
  }
}

// container
.container-auto{
  max-width: 1320px;
  padding: 0 $spacer * 0.75;
  margin: 0 auto;
  @include pad{
    max-width: 720px;
    padding: 0 $spacer * 0.75;
  }
  @include mobile{
    max-width: 360px;
    padding: 0 $spacer * 0.75;
  }
}


// padding-top
@each $key,$value in $spacers{
  .pt-#{$key}{
    padding-top: $value;
  }
}

// padding-bottom
@each $key,$value in $spacers{
  .pb-#{$key}{
    padding-bottom: $value;
  }
}

// padding-bottom
@each $key,$value in $spacers{
  .py-#{$key}{
    padding-top: $value;
    padding-bottom: $value;
  }
}

// margin-top
@each $key,$value in $spacers{
  .mt-#{$key}{
    margin-top: $value;
  }
}

// margin-bottom
@each $key,$value in $spacers{
  .mb-#{$key}{
    margin-bottom: $value;
  }
}

// margin-left
@each $key,$value in $spacers{
  .ml-#{$key}{
    margin-left: $value;
  }
}

// margin-right
@each $key,$value in $spacers{
  .mr-#{$key}{
    margin-right: $value;
  }
}

.lh-70{
  line-height: 1.458333 !important;
}

.lh-56{
  line-height: 1.16667 !important;
}


.icon--pill{
  font-variation-settings: 'FILL' 1,
}

.ff-secondary{
  $font-family-secondary: 'Roboto Mono', sans-serif;
}